.container {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.scores {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    background-color: beige;
    border: 1px solid brown;
    border-radius: 0.3em;
    padding: 1em;
}

.sortBy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.moves, .time {
    margin: 0 1em
}

h3 {
    margin-top: 1em;
}



td {
    padding: 0.5em 2em;
    border-bottom: 0.5px solid rgb(226, 135, 135);
    
}

.first {
    background: rgb(255, 215, 0);
    background: linear-gradient(213deg, rgba(255, 215, 0, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 215, 0, 1) 62%);
}

.second {
    background: rgb(192, 192, 192);
    background: linear-gradient(213deg, rgba(192, 192, 192, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(192, 192, 192, 1) 62%);
}

.third {
    background: rgb(205, 127, 50);
    background: linear-gradient(213deg, rgba(205, 127, 50, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(205, 127, 50, 1) 62%);
}

button
{
    border-radius: 0.3em;
    background-color:#2585DA;
    color: white;
    border: 0;
    outline: 0;
    padding: 1em;
    transition: all 0.2s;
}

button:hover
{

    transform: scale(1.1);
}