<div class="grid">
    <app-tile id="0" [value]="numbers[0]" (click)="change($event)"></app-tile>
    <app-tile id="1" [value]="numbers[1]" (click)="change($event)"></app-tile>
    <app-tile id="2" [value]="numbers[2]" (click)="change($event)"></app-tile>
    <app-tile id="3" [value]="numbers[3]" (click)="change($event)"></app-tile>
    <app-tile id="4" [value]="numbers[4]" (click)="change($event)"></app-tile>
    <app-tile id="5" [value]="numbers[5]" (click)="change($event)"></app-tile>
    <app-tile id="6" [value]="numbers[6]" (click)="change($event)"></app-tile>
    <app-tile id="7" [value]="numbers[7]" (click)="change($event)"></app-tile>
    <app-tile id="8" [value]="numbers[8]" (click)="change($event)"></app-tile>
</div>
